@import "/home/kyee/.cache/wal/colors-waybar.css";
* {
  padding: 0;
  margin: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 16px;
  background-color: @background;
  /* Reduced opacity background */
  border-radius: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0.9
  /* border-radius: 10px; */
}

#custom-launcher {
  font-size: 20px;
  color: @color4;
  padding-right: 10px;
  margin-left: 5px;
}

#custom-updates {
  color: @color6;
}

#custom-updates.ok {
  color: @color6;
}

#custom-updates.bad {
  color: @color1;
}

#disk {
  color: @color4;
}

#workspaces button {
  padding: 0;
  margin: 3px 0;
  border-radius: 30px;
  border: 2px @background;
  background: @background;
}

#workspaces button label {
  padding: 0 8px;
}

#workspaces button:nth-child(1) label {
  color: @color1;
}

#workspaces button:nth-child(2) label {
  color: @color2;
}

#workspaces button:nth-child(3) label {
  color: @color3;
}

#workspaces button:nth-child(4) label {
  color: @color4;
}

#workspaces button:nth-child(5) label {
  color: @color5;
}

#workspaces button:nth-child(6) label {
  color: @color6;
}

#workspaces button:nth-child(7) label {
  color: @color9;
}

#workspaces button:nth-child(8) label {
  color: @color8;
}

#workspaces button:nth-child(9) label {
  color: @foreground;
}

#workspaces button.active label {
  background-color: @color8;
}

#workspaces button.urgent label {
  background-color: @color5;
}

#workspaces button.default label {
  background-color: transparent;
}

#tray menu {
  color: @foreground;
}

#clock {
  color: @foreground;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#cpu,
#memory {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu {
  color: @color3;
  padding: 0px 10px 0px 12px;
  border-radius: 5px 0px 0px 5px;
}

#memory {
  color: @color2;
  padding: 0px 10px 0px 0px;
  border-radius: 0;
}

#pulseaudio,
#backlight {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#backlight {
  color: @color5;
}

#pulseaudio {
  color: @color6;
}

#bluetooth {
  color: @color4;
}

#network {
  color: @color5;
  margin-right: 10px;
}

#battery {
  color: @color2;
}

#custom-hiddenWaybar {
  color: @color4;
  font-size: 17px;
  font-weight: bold;
  margin-right: 9px;
}

#custom-changeCaps {
  color: @foreground;
  font-size: 24px;
  font-weight: bold;
}

#custom-bingwallpaper {
  color: @color4;
  font-size: 18px;
}

#custom-wallpaper {
  color: @color6;
  font-size: 17px;
}

#custom-download {
  color: @color4;
}

#custom-power {
  color: @foreground;
}

/* #custom-changeCaps:hover,
#custom-wallpaper:hover,
#custom-download:hover,
#custom-power:hover {
  background-color: @color8;
} */
